body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.auth-container{
  margin: 80px 40px;
}

h1 {
  font-size: 3rem;
  color: #ff4d4d;
}

p {
  color: #666;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
